@charset "UTF-8";

@media screen and (min-width: 992px) {
    main{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 300px;
        transform: translate(-50%, -50% );
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.459);
        border-radius: 20px;
        
    }

    #box-1{
        float: left;
        height: 300px;
        width: 50%;
        border-radius: 20px 0px 0px 20px;
    }

    #box-2{
        float: right;
        height: 480px;
        width: 50%;
        border-radius: 0px 20px 20px 0px;
    }

    #box-1 h1{
        padding: 20px 0px;
    }

    #circle{
        width: 100px;
        height: 100px;
    }

    #circle h2{
        font-size: 32px;
    }

    #box-1 article{
        padding-top: 20px;
    }

    #box-1 article p{
        width: 140px;
    }
}